@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
.login {
  font-family: "Josefin Sans", sans-serif;
}
input {
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid #abaab1;
  border-radius: 9px;
  height: 45px;
  padding: 12px 16px;
  line-height: 24px;
  font-size: 14px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
